@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Get to Know Joel</h1>

    <p class="lead">
        Joel Hilton loves movies, comedy, and talking about both.
    </p>

    <p>
        Check him out performing with
        <a href="https://www.qwcomedy.com/" target="_blank" rel="noopener">Quick Wits Comedy</a>.
    </p>

    <p>
        You can also listen to his movie and pop culture podcast,
        <a href="https://baconsale.com/" target="_blank" rel="noopener">Baconsale</a>.
    </p>

    <a href="https://baconsale.com/" target="_blank" rel="noopener">
        <img src="https://byu.box.com/shared/static/ie6ibeddqm0f6oudp7bc5dyt87zxi2u4.jpg"
             alt="Baconsale"
             class="img-fluid mt-4" />
    </a>
</div>

